@import '~bootstrap/scss/bootstrap';
@import './admin.scss';

.card {
    border-radius: 0px;
}
.badge {
    border-radius: 0px;
    font-size: 12px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.td-text-limit {
    width: 100px;
    /* adjust the value to fit your needs */
    word-wrap: break-word;
    display: inline-block;

}

.container {
    max-width: 1660px;
}

// .container-fluid {
//     padding-right: 5px;

// }
.fa,
.fas {
    font-size: 18px;
}

.btn {
    font-size: 13px;
}

.delete-img {
    margin-top: 20px;
}

body {
    font-family: 'Nunito', sans-serif !important;
}

.custom-btn {
    border-radius: 10rem;
    padding: 0.5rem 2.5rem;
}

// hide scroll bar
.sidebar-content {
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
}

.sidebar-content::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

.intro {
    margin-top: 3rem;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 1000px;
    }

}


.form-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #5f6d84;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


.card-register {
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.router-link-exact-active {
    // background-color: #5f6d84;
    color: rgb(45, 163, 10) !important;
}